.list {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .item {
    display: flex;
    align-items: center;
    gap: 30px;

    & .icons {
      display: flex;
      align-items: center;
      gap: 10px;

      & button {
        width: 24px;
        height: 24px;
        border: unset;

        opacity: 0.8;

        background: unset;
        padding: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
          opacity: 1;
        }
      }

      & .tooltip {
        position: relative;

        &::after {
          content: "Copied!";

          background: transparent;
          border: 1.5px solid #b4b4b4;
          color: #e4e4e4;

          padding: 6px 12px;
          text-align: center;

          border-radius: 8px;

          position: absolute;
          top: 0;
          left: -110px;
        }
      }
    }
  }
}
